<style type="text/css">
{
    margin: 0px;
    padding: 0px;
}
header{
    padding: 30px;
    height: 130px;
    background-color: purple;
    color: #EEEEEE;
    text-align: center;
    font-family: sans-serif;
}
body {
    text-align: left;
    margin: 0px;
    padding: 0px;
}
            nav {
                height: auto;
                background-color: #EEEEEE;
                margin-bottom: 20px
            }
            nav ul {
                font-family: fantasy;
                list-style-type: none;
                text-align: center;
                padding: 0px;
                margin: 0px;
            }
            nav ul li {
                display: inline-block;
                margin: 10 10px;
            }
            nav ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #EEEEEE;
    color: purple;
    border-radius: 5px;
    display: inline-block;
            }
            nav ul li a:hover {
                color: mediumpurple;
                font-weight: bolder;
            }
            main {
                background-color: transparent;
                padding: 30px;
                margin-bottom: 30px;
                border-radius: 8px;
            }
.menu2{
    font-family: fantasy;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}
p{
    padding-bottom: 20px;
    color: white;
    font-family: sans-serif;
}
h2,h3 {
    padding-bottom: 20px;
    color: white;
    font-family: sans-serif;
}
footer {
    height: 50px;
    background-color: mediumpurple;
    text-align: center;
    font-family: monospace;
    color: white;
    position: relative;
    padding: 10px;
    margin-top: 30px;
}
main {
    padding: 30px;
    background-color: #EEEEE1;
    margin-bottom: 30px;
    border-radius: 8px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
section{
    width: 70%;
    height: auto;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 30px;
}
#ilustraciones {
    width: 200px;
    height: auto;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.yume{
    display: flex;
    justify-content: right;
    align-items: right;
    width: 200px;
    height: auto;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}