<style type="text/css">
{
    margin: 0px;
    padding: 0px;
}
header{
    padding: 30px;
    height: 130px;
    background-color: mediumpurple;
    color: #EEEEEE;
    text-align: center;
    font-family: sans-serif;
}
body {
    text-align: left;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: purple;
    padding: 30px;
    color: #EEEEEE;
    height: 130px;
    text-align: center;
}
            nav {
                height: auto;
                background-color: #EEEEEE;
                margin-bottom: 20px
            }
            nav ul {
                font-family: fantasy;
                list-style-type: none;
                text-align: center;
                padding: 0px;
                margin: 0px;
            }
            nav ul li {
                display: inline-block;
                margin: 10 10px;
            }
            nav ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #EEEEEE;
    color: purple;
    border-radius: 5px;
    display: inline-block;
            }
            nav ul li a:hover {
                color: mediumpurple;
                font-weight: bolder;
            }
            main {
                background-color: transparent;
                padding: 30px;
                margin-bottom: 30px;
                border-radius: 8px;
            }
.menu2{
    font-family: fantasy;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}

main ol li{
    font-family: sans-serif;
    text-align: left;
    color: #EEEEEE;
}
main ul li{
    font-family: sans-serif;
    text-align: left;
    color: #EEEEEE;
}
p{
    padding-bottom: 20px;
    color: white;
    font-family: sans-serif;
}
            h2,h3 {
                padding-bottom: 20px;
                color: white;
                font-family: sans-serif;
            }
            p a:visited{
                color: mediumpurple;
            }
            p a:link {
                color: #EEEEEE;
                font-weight: bolder;
            }
            p a:active {
                color: orange;
            }
            footer {
                height: 50px;
                background-color: mediumpurple;
                text-align: center;
                font-family: monospace;
                color: white;
                position: relative;
                padding: 10px;
                margin-top: 30px;
}
main {
    padding: 30px;
    background-color: #EEEEE1;
    margin-bottom: 30px;
    border-radius: 8px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
section{
    width: auto;
    height: auto;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
}
table{
    color: white;
    margin: 0 auto;
    padding: 10 px;
    font-family: sans-serif;
    border: 1px solid violet;
    border-collapse: separate;
    border-spacing: 10px;
}
table th, table td{
    padding: 10px;
}
.tabla1{
    width: 800px;
    border-collapse: collapse;
}
.table1 th{
    background-color: violet;
    height: 50px;
}
.table1 tbody{
    background-color: darkmagenta;
    color: white;
}
table1 td{
    padding: 5px;
    text-align: center;
    height: 40px;
    margin: 20px;
}
#table1 td, #table1 th{
    border-width: 5px;
    border-style: solid;
    border-color: darkmagenta;
}
#table1 thread tr th{
    background-color: darkmagenta;
    padding: 20px;
}
#table2{
    width: 1000px;
    border: 10px solid violet;
    border-collapse: collapse;
}
#table3 tr:hover{
    background-color: violet
}
#table2 tr th{
    background-color: darkmagenta;
    padding: 20px;
}
#table2 tbody tr:nth-child(even){
    background-color: darkmagenta;   
}
.table4{
    display: block;
    overflow: auto;
    width: 400px;
}
#yume {
    width: 200px;
    height: auto;
    float: right;
    padding-left: 20px;
}
#Dazai {
    width: 200px;
    height: auto;
    float: right;
    padding-left: 20px;
}
#totoro {
    width: 248px;
    height: auto;
    float: right;
    padding-left: 20px;
}
#fondo {
    width: 188px;
    height: auto;
    float: left;
    padding-right: 20px;
}
#chihirowall{
    display: block;
}
.gif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
.icono{
    display: flex;
    justify-content: right;
    align-items: right;
    width: auto;
    height: auto;
}
#totoro2 {
    width: 100px;
    height: auto;
    text-align: right;
}
footer {
    background-color: mediumpurple;
    padding: 15px;
    color: #EEEEEE;
    text-align: center;
    margin-top: 20px;
}
#img_filtro img{
    text-align: center;
}
#img_filtro img {
    width: 30%;
    height: auto;
    margin: 10 px;
    display: inline-block;
}
#filtro1{
    filter: brightness(200%);
}
#filtro2{
    filter: contrast(50%);
}
#filtro3{
    filter: grayscale(100%);
}
#filtro4{
    filter: sepia(100%);
}
#filtro5{
    filter: saturate(150%);
}
#filtro6{
    filter: opacity(40%);
}
#filtro7{
    filter: invert(100%);
}
#filtro8{
    filter: blur(5px);
}
#filtro9{
    filter: drop-shadow(10px 10px 10px gray);
}
#filtro10{
    filter: contrast(150%) drop-shadow(20px 20px 5px red);
}
#filtro11{
    filter: brightness(50%) sepia(20%)
}
#filtro12{
    filter: grayscale(705) contrast(30%) blur(1px);
}
#brujas{
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
	}
#derretir{
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
	}
#japon{
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
	}
iframe{
    display: block;
    margin: 0 auto;
}
.form{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
    width: 30%;
    padding: 30px;
    height: auto;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: left;
    background-color: rebeccapurple;
}

label{
    color: white;
    font-weight: bolder;
}
#form input[type="text"], #form input[type="password"]{
    width: 100%;
    height: 30px;
    text-align: left;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: normal;
    margin-top: 10px;
    background-color: #FBFFCD;
    color: black;
    box-sizing: border-box;
}

#form input[type="submit"]{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    height: 30px;
    background-color: purple;
    padding: 0;
    color: #fbffcd;
    border-radius: 5px;
    margin-top: 10px;
}
#form input[type="number"]{
    width: 100%;
    height: 30px;
    text-align: left;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: normal;
    margin-top: 10px;
    background-color: #FBFFCD;
    color: black;
    box-sizing: border-box;
}
#form select[name="pais"] {
    width: 80%;
    height: 40px;
    padding: 10px;
    background-color: #FBFFCD;
    border: 1px solid mediumorchid;
    cursor: pointer; 
}
#form select[name="genero"] {
    width: 80%;
    height: 40px;
    padding: 10px;
    background-color: #FBFFCD;
    border: 1px solid mediumorchid;
    cursor: pointer;
}
.radio-group {
    display: block;
    margin-bottom: auto;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}
.music-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.music-options li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.music-options input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}
#form input[type="textarea]{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    height: 30px;
    background-color: purple;
    padding: 0;
    color: #fbffcd;
    border-radius: 5px;
    margin-top: 10px;
}